<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${menus} and ${menus.size()}">no menus :(</p>


<div style="padding: 20px" class="menus">

    <table class="table">
        <tr>
            <th>Menus</th>
        </tr>
        <tr th:each="menu : ${menus}">
            <td>
                <a th:href="@{/menu/view/{id}(id=${menu.id})}" th:text="${menu.name}"></a>
            </td>
        </tr>
    </table>

</div>
<div class="addMenu">
    | <a href="/menu/add">Add Menu</a>
</div>

</body>
</html>